<br>
<h3>More Information on this Tweet</h3>
<p>Tweet Content: <%= @tweet.content %></p>
<p>Tweet Author: <%= @tweet.user %></p>


<h4>Delete Tweet</h4>
<a href="/tweets/<%= tweet.id %>/edit"><%= Edit Tweet %></a>
